# Ignore heavy data
data/
ml_engine/data/
*.csv

# Ignore node_modules (thousands of tiny files)
node_modules/
frontend/node_modules/
.next/
frontend/.next/

# Ignore python cache
__pycache__/
*.pyc
.env*
!.env.example

# Virtual environments
venv/